<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To The Front End</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit maiores
      odio, aut neque placeat nobis. Ad, vitae? Eius necessitatibus, distinctio
      sapiente suscipit omnis quae?
    </p>
  </body>
</html>
